body{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin-top: 100px;
}

#js-canvas{
    width: 700px;
    height: 700px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px;
}

#contents{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    margin-top: 50px;
    margin-bottom: 25px;
}

#buttons button{
    all: unset;
    cursor: pointer;
    width: 50px;
    height: 20px;
    text-align: center;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 750;
}

#buttons button:active{
    transform:scale(0.9);
}

#colors{
    display:flex;
}

#color{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px;
}